<%= error.first if error %>

<h2>Sign up</h2>
<form action="/users/signup" method="post">
  username: <input type="text" name="name">
  <br><br>
  password: <input type="password" name="password">
  <br><br>
  <input type="submit" value="create">
</form>
